<!--  	chapter 4 - two form databinding - page 53  	-->

<html ng-app="notesApp">
	<head> 
		<title>Notes App</title> 

		<body ng-controller="MainCtrl as ctrl">
 
 	 		<form ng-submit='ctrl.submit1()'>
 	 			<input type='text' ng-model='ctrl.username'>
 	 			<input type='password' ng-model='ctrl.password'>
 	 			<input type='submit' value='Submit'>
 	 		</form>


 	 		<form ng-submit='ctrl.submit2()'>
 	 			<input type='text' ng-model='ctrl.user.username'>
 	 			<input type='password' ng-model='ctrl.user.password'>
 	 			<input type='submit' value='Submit'>
 	 		</form>


			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

			<script type="text/javascript">

// With this form, you can now submit with enter, compared to ng-click
// In this version, we have user.username, which creates an object 

				angular.module('notesApp', [])
					.controller('MainCtrl',[function(){
 
						var self = this;

						self.submit1 = function() {
							// Create user object to send to the server
							var user = { username: self.username, password: self.password };
							console.log('First form submit with ', user);
						};

						self.submit2= function(){
							console.log('Second form submit with ', self.user);
						};

 					}]);

			</script>

		</body>
	</head>
</html>
